.App {
  min-width: 1280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}

canvas {
  border: black 1px solid;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.btn {
  margin: 3px 3px 3px 3px;
}

.custom-value-criteria {
  white-space: pre-wrap;
}

.invalid-custom-value-submission {
  color: red;
}

.frame-slider {
  width: 500px;
}

.speed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.speed-label {
  margin: 0px 12px 0px 0px;
}
.playback-bar {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  margin: 3px 0px 3px 0px;
}

.custom-value-submission-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3px 0px 3px 0px;
}

.frame-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame-slider-label {
  white-space: pre-wrap;
}

.Description {
  margin: 10px 0px 10px 0px;
}

.description-block {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
